/* .wrapper {
  background: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.child {
  flex: 1;
}

.child:nth-child(even) {
  flex: 2;
  background: green;
} */

/* GRID */
.wrapper {
  background: url(./img/image\ 3.png);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
