.btn {
  width: 150px;
  height: 60px;
  background: red;
  color: white;
  outline: none;
  border: none;
  /* transition: 2s all ease-in-out; */
  box-shadow: 15px 13px 14px 0px rgba(29, 23, 23, 0.79);
  animation: 3s zoom infinite;
}

.btn:hover {
  background: blue;
  height: 90px;
  transform: translateX(-100px);
  box-shadow: 15px 13px 14px 0px rgba(168, 8, 207, 0.79);
}

.my-class h1 {
  animation: 4s zoom infinite;
}

@keyframes zoom {
  0% {
    color: blue !important;
  }
  50% {
    color: brown !important;
  }
  100% {
    color: red !important;
  }
}
